/ToDo_App/.venv/
/TODo_App/.idea
/.ipynb_checkpoints/
/ToDo_App/.ipynb_checkpoints/
/TODo_App/bonus
/.idea/workspace.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/PythonPra.iml
/.idea/vcs.xml
